:root {
    --mobile: 0;

    --header-height-full: 6em;
    --header-height: 3em;
    --header-shadow-height: 0.5em;
    --header-padding: 0.5em;

    --title-size: 1.5em;

    --section-padding: 6em;
    --section-height-part: 1;

    --content-padding: 1em;

    --active-color: #c0e05b;
    --text-color: rgb(50, 50, 50);

    --arrow-size: 24px;

    --font-size: 18px;
}

@keyframes arrow {

    0%,
    100% {
        transform: translate(-50%, -25%) scaleX(1.5) rotate(45deg);
    }

    50% {
        transform: translate(-50%, 100%) scaleX(1.5) rotate(45deg);
    }
}

@keyframes fadeInTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

body,
html {
    margin: 0;
    padding: 0;
    top: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    font-size: var(--font-size);
    color: var(--text-color);
}

/* Create a 2 lines header with the title on the first line and links to navigate in the second line */
/* Make the header stay on top of the page */
.header-shadow {
    position: absolute;
    z-index: 1;
    width: 100%;
    padding-bottom: var(--header-shadow-height);
}

header {
    width: 100vw;
    display: flex;
    top: 0;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: var(--header-padding);
    background-color: rgba(245, 245, 245, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: #000 0 0 var(--header-shadow-height);
    animation: fadeInTop 0.5s ease-in-out;

}

header h1 {
    position: relative;
    left: 0;
    font-size: var(--title-size);
    font-weight: bold;
    margin: 0;
}

header nav {
    position: relative;
    right: 0;
}

header.top h1 {
    /* Center the title */
    left: 50%;
    top: 0;
    white-space: nowrap;
    margin-top: var(--header-padding);
    align-self: flex-start;
    transform: translateX(-50%);
}

header.top nav {
    /* Center the navigation */
    right: 50%;
    margin-top: calc(var(--title-size) + 2* var(--header-padding));
    transform: translateX(50%);
    width: fit-content;

}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

header.top ul,
header.top ul li,
header.top ul li a {
    text-align: center;
    width: max-content;
}

header nav ul li {
    list-style: none;
    padding: 0.25em 1.5vw;

    border-right: #000 1px solid;
}

/* No need to have a link on the last element */
header nav ul li:last-child {
    border-right: none;
}

header nav ul li a,
header h1 a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

header nav ul li a:hover {
    color: var(--active-color);
}

main {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    scroll-snap-type: block mandatory;
    scroll-behavior: smooth;
}

/* Select the first section as the active one */
/* main section:first-child {
    margin-top: var(--header-height);
} */

/* Create multiple sections that take the whole screen with a slight parallax effect */
/* Create a parallax effect by adding a background-attachment: fixed to the section */
section {
    position: relative;
    flex-shrink: 0;
    height: 100vh;
    border-radius: 5vmin;
    display: grid;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    scroll-snap-align: end;
    z-index: 0;
}

section:hover>.content {
    box-shadow: 0 0 1.2em 1.2em rgba(0, 0, 0, 0.15);

}

section#landing {
    background-image: url("../res/res-full/bg1.webp");
}

section#presentation {
    background-image: url("../res/res-full/bg2.webp");
}

section#video {
    background-image: url("../res/res-full/bg3.webp");
}

section#contact {
    background-image: url("../res/res-full/bg4.webp");
}

section img {
    max-width: 100%;
    display: block;
    max-height: 6em;
    object-fit: contain;
}

section video {
    height: 60vh;
    width: auto;
    max-width: 100%;
    display: block;
    object-fit: contain;
    z-index: 10;
}



/* Center the content vertically and add a white box around it */
.content {
    padding: var(--content-padding);
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
    height: fit-content;
    max-height: calc(100% - 3* var(--content-padding) - 2*var(--header-height));
    font-size: 1rem;
    margin: 0 10%;
    overflow-y: scroll;
}

/* Make the content appear on the right */
.content.left {
    justify-self: left;
}

/* Make the content appear on the left */
.content.right {
    justify-self: right;
}

.content i {
    font-style: normal;
    color: var(--active-color);
}

.content::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

.content::-webkit-scrollbar-thumb {
    background: #000;
}

.arrow {
    position: absolute;
    /* Center horizontally */
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 25vw;
    height: calc(3*var(--arrow-size));
    padding-top: 1em;
    border-radius: 2em 2em 0 0;
    background-color: rgba(255, 255, 255, 0.5);
    /* Center the text */
    text-align: center;
    color: rgba(50, 50, 50, 0);
    cursor: pointer;
}

.arrow span {
    position: inherit;
    display: block;
    left: 50%;
    height: var(--arrow-size);
    width: var(--arrow-size);
    transform: translateX(-50%) scaleX(1.5) rotate(45deg);
    border: #fff 3px solid;
    animation: arrow 3s ease-in-out infinite;
    border-top: unset;
    border-left: unset;

}

.arrow.top {
    /* Just rotate it 180° */
    transform: translateX(-50%) rotate(180deg);
    border-radius: 0 0 2em 2em;

}

div.contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a.contact {
    display: flex;
    flex-direction: row;
    border: var(--text-color) 2.5px solid;
    border-radius: 2em;
    width: max-content;
    height: min-content;
    padding: 0.4em 1.25em;
    text-decoration: none;
    /*center vertically*/
    align-items: center;
    font-size: 0.9em;
    margin: 0.2em;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

a.contact span {
    color: var(--text-color);
    height: min-content;
}

a.contact img {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    /* Convert from black to #005dc7 */
    /*filter: invert(23%) sepia(97%) saturate(1678%) hue-rotate(194deg) brightness(97%) contrast(116%);*/
    /* Convert from black to #323232 */
    filter: invert(13%) sepia(78%) saturate(0%) hue-rotate(216deg) brightness(96%) contrast(86%);
}

a.contact:hover {
    background-color: var(--text-color);
}

a.contact:hover span {
    color: #fff;
}
a.contact:hover img {
    filter: invert(100%);
}

.contact .break {
    /* Line break for flex */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    height: 0;
}

/* Detect mobile device */
@media only screen and (max-width: 735px) {
    :root {
        --mobile: 1;

        --header-height: 7vh;
        --header-height-full: 8em;
        --header-padding: 0;

        --content-padding: 0.5em;

        --section-top-padding: 25vh;
        --font-size: 16px;
    }

    /* Header */
    header {
        width: 100vw;
        height: var(--header-height);
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header.top {
        height: var(--header-height-full);
        padding: 0;
        transform: unset;

    }

    header nav ul {
        display: none;
        transform: unset;
        animation: fadeInTop 0.5s ease-in-out;
    }

    header.top nav ul {
        display: flex;
        transform: unset;
    }

    header.top nav {
        right: unset;
        left: unset;
        transform: unset;
    }

    header.top h1 {
        top: unset;
        left: unset;
        transform: unset;
        align-self: unset;
    }

    /* Sections */
    section {
        border-radius: 0;
        padding: var(--section-top-padding) 0 0 0;
        height: calc(100vh - var(--section-top-padding));
        align-items: flex-end;
        overflow-y: scroll;
        background-position: center;
        background-attachment: local;
    }

    section img {
        max-width: 100%;
    }

    section video {
        height: auto;
        width: auto;
        max-width: 100%;
        display: block;
        object-fit: contain;
        z-index: 10;
    }

    .content {
        margin: 0;
        width: calc(100vw - var(--content-padding) * 2);
        /*         max-height: 100%;
 */
        height: fit-content;
        border-radius: 0.5em;
        margin-bottom: calc(4* var(--content-padding));
        padding-bottom: calc(10* var(--content-padding));
        overflow-y: visible;
    }

    .arrow {
        display: none;
    }

    section#landing {
        background-image: url("../res/res-half/bg1.webp");
    }

    section#presentation {
        background-image: url("../res/res-half/bg2.webp");
    }

    section#video {
        background-image: url("../res/res-half/bg3.webp");
    }

    section#contact {
        background-image: url("../res/res-half/bg4.webp");
    }

}

@media only screen and (max-width: 350px) {
    :root {
        --mobile: 1;
        --header-height-full: 7vh;
    }

    header.top nav ul {
        display: none;
    }

    section#landing {
        /* This one will be preloaded in all cases so it's not necessary to use a smaller background image */
        background-image: url("../res/res-half/bg1.webp");
    }

    section#presentation {
        background-image: url("../res/res-quarter/bg2.webp");
    }

    section#video {
        background-image: url("../res/res-quarter/bg3.webp");
    }

    section#contact {
        background-image: url("../res/res-quarter/bg4.webp");
    }
}